* {
  font-family: "Roboto";
  color: var(--light-text);
}

body {
  background-color: var(--dark-bg);
}

/* HEADER */

header {
  background-color: #3943B7;
  min-height: 65px;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: sticky;
  top: 0px;
}

img {
  padding: 10px;
  max-height: 50px;
}

.center {
  margin-left: 20%;
  justify-self: center;
}

.center h1 {
  margin-left: 20%;
  top: -1vh;
}

button {
  background-color: var(--navy-blue   );
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  font-size: small;
  transition: 0.1s;
  margin: 20px;
  box-shadow: inset 0px 0px 3px var(--dark-text);
}

button:hover {
  background-color: var(--dark-bg);
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  min-width: 40vw;
  margin-right: 10px;
}

@media (width <= 800px) {
  .user img, .user p {
      display: none;
  }
}

h1 {
  font-family: 'Codystar';
  color: var(--light-text);
  font-weight: bold;
}

/* INFINITE SCROLL */

.inf {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.thumbnail {
  background-color: var(--navy-blue);
  width: 80vw;
  height: 40vw;
  border-radius: 20px;
  margin: 10px;
  box-shadow: inset 0px 0px 20px var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.thumbnail h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 5vh;
  margin: 20px;
}

.thumbnail p {
  font-size: 3vh;
}

.thumbnail:hover {
  box-shadow: inset 0px 0px 70px 7px var(--dark-text);
}

.rating {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* FONTS */

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* COLORS */

:root {
  --dark-bg: #0E0E52;
  --violet-blue: #3943B7;
  --navy-blue: #150578;
  --light-text: #DCCFEC;
  --dark-text: #DDC4DD;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
