* {
  font-family: "Arial";
  color: var(--light-text);
}

body {
  background-color: var(--dark-bg);
}

h1 {
  font-family: 'Codystar';
  color: var(--light-text);
  font-weight: bold;
}

/* FONTS */

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* COLORS */

:root {
  --dark-bg: #0E0E52;
  --violet-blue: #3943B7;
  --navy-blue: #150578;
  --light-text: #DCCFEC;
  --dark-text: #DDC4DD;
}