header {
    background-color: #3943B7;
    min-height: 65px;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: sticky;
    top: 0px;
}

img {
    padding: 10px;
    max-height: 50px;
}

.center {
    margin-left: 20%;
    justify-self: center;
}

.center h1 {
    margin-left: 20%;
    top: -1vh;
}

button {
    background-color: var(--navy-blue   );
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: small;
    transition: 0.1s;
    margin: 20px;
}

button:hover {
    font-size: medium;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    min-width: 40vw;
    margin-right: 10px;
}

@media (width <= 800px) {
    .user img, p {
        display: none;
    }
}