header {
    background-color: #3943B7;
    min-height: 50px;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

img {
    padding: 10px;
}

button {
    background-color: var(--navy-blue   );
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: small;
    transition: 0.1s;
    margin: 20px;
}

button:hover {
    font-size: medium;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    min-width: 40vw;
}